<html>
    <head>
        <title>Flask-Simple-Chat</title>
        <style type="text/css">
            h4 {
                color: pink;
            }
        </style>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#emotion').css('color','red');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg.slice(0,-1) + '\n');
                    emotion = data.msg[data.msg.length-1];
                    if(emotion == 0){
                        $('#emotion').css('color','red');
                    }
                    else if(emotion == 1){
                        $('#emotion').css('color','blue');
                    }
                    else if(emotion == 2){
                        $('#emotion').css('color','green');
                    }
                    else if(emotion == 3){
                        $('#emotion').css('color','black');
                    }
                    else if(emotion == 4){
                        $('#emotion').css('color','pink');
                    }
                    else if(emotion == 5){
                        $('#emotion').css('color','orange');
                    }
                    else if(emotion == 6){
                        $('#emotion').css('color','yellow');
                    }
                    console.log(data.msg);
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
    </head>
    
    <body id= "body">
        <h1>Chat Room: {{ room }}</h1>
        <div>
            <h3>edited by LYR<h3>
            <h4 id = "emotion">감정</h4>
        </div>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        {{ name }} <input id="text" size="80" placeholder="메시지를 입력해보세요!"><br><br>
        <a href="#" onclick="leave_room();">채팅방 나가기</a>
    </body>
</html>
